@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@700&family=Lobster&family=Nunito:wght@200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500&display=swap');

/* Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', san-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

/* End of common style */